# Semua Library yang dibutuhkan

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
# Import Drive API and authenticate.
from google.colab import drive

##Pandas

Pandas (Python for Data Analysis) adalah library Python yang fokus untuk proses analisis data seperti manipulasi data, persiapan data, dan pembersihan data.


•	read_csv() digunakan untuk membaca file csv

•	str.match() digunakan untuk mencocokan dengan karakter tertentu

•	drop() digunakan untuk menghapus

•	count() digunakan untuk mengitung masing-masing variable

•	drop_duplicates() digunakan untuk menghapus data duplicate rows

•	fillna() digunakan untuk mengisi dengan nilai tertentu

•	quantile() digunakan untuk melihat quantile ke tertentu

•	mask() menganti nilai tertentu jika kondisi memenuhi

•	astype() merunubah tipe data

•	value_counts() digunakan untuk mengitung unik dari kolom

•	sort_values() digunakan untuk sort values

•	isnull() digunakan untuk mendeteksi missing values

•	dropna() digunakan untuk menghapus missing values

•	replace() digunakan untuk mengganti nilai

## Matplotlib

Matplotlib adalah library Python yang fokus pada visualisasi data seperti membuat plot grafik. Matplotlib dapat digunakan dalam skrip Python, Python dan IPython shell, server aplikasi web, dan beberapa toolkit graphical user interface (GUI) lainnya.

*   figure() digunakan untuk membuat figure gambar baru

## Seaborn

Seaborn membangun di atas Matplotlib dan memperkenalkan tipe plot tambahan. Ini juga membuat plot Matplotlib tradisional Anda terlihat sedikit lebih cantik.

*   box_plot() digunakan untuk membuat box plot

## Penjelasan Library

1. Pandas, di gunakan untuk melakukan pemrosesan analisis data
2. Matplotlib, di gunakan sebagai dasar untuk melakukan visualisasi data
3. Seaborn, di gunakan di atas matplotlib untuk melakukan data visualisasi yang lebih menarik
4. Scikit - Learn, digunakan untuk mempersiapkan data sebelum dilakukan permodelan
5. kmodes, digunakan untuk melakukan permodelan menggunakan algoritma K-Modes dan K-Prototypes.
6. Pickle, digunakan untuk melakukan penyimpanan dari model yang akan di buat.

# Fungsi Rata-Rata

In [ ]:
nilai_akhir  = [90, 50, 65, 40, 70, 76, 84, 77, 100, 74]

def mencari_rata_rata (nilai):
  jumlah = 0 
  for item in nilai:
      jumlah += item
  hasil_rata_rata = jumlah / len(nilai) #len fungsinya untuk mencari panjang data
  return hasil_rata_rata

#Standar Deviasi

https://id.wikipedia.org/wiki/Simpangan_baku

Dalam statistika dan probabilitas, simpangan baku atau deviasi standar adalah ukuran sebaran statistik yang paling lazim. Singkatnya, ia mengukur bagaimana nilai-nilai data tersebar. Bisa juga didefinisikan sebagai, rata-rata jarak penyimpangan titik-titik data diukur dari nilai rata-rata data tersebut.

![image.png]()

In [ ]:
def hitung_standar_deviasi(datas):
  rata_rata_data = mencari_rata_rata(datas)
  varian = 0
  for data in datas:
    varian += (data - rata_rata_data) ** 2
  varian /= len(datas)
  standar_deviasi = varian ** (1/2)
  return standar_deviasi

print(hitung_standar_deviasi(nilai_akhir))

16.8949696655543

#Next

In [ ]:
# Dua buah data yang tersimpan dalam tipe list
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]
# Fungsi rata-rata data
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
# Definisikan fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
    rata_rata_data = hitung_rata_rata(data)
    varians = 0
    for item in data:
        varians += (item - rata_rata_data) ** 2
    varians /= len(data)
    standar_deviasi = varians ** (1/2)
    return standar_deviasi
# Hitung nilai standar deviasi dari kedua data yang dimiliki
print('Standar deviasi data1:')
print(hitung_standar_deviasi(data1))
print('Standar deviasi data2:')
print(hitung_standar_deviasi(data2))

Standar deviasi data1:
28.722813232690143
Standar deviasi data2:
17.916472867168917

In [ ]:
# Data properti
tabel_properti = {
'luas_tanah': [70, 70, 70, 100, 100, 100, 120, 120, 150, 150],
'luas_bangunan': [50, 60, 60, 50, 70, 70, 100, 80, 100, 90],
'jarak': [15, 30, 55, 30, 25, 50, 20, 50, 50, 15],
'harga': [500, 400, 300, 700, 1000, 650, 2000, 1200, 1800, 3000]
}
# Fungsi rata-rata data
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
# Fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
    rata_rata_data = hitung_rata_rata(data)
    varians = 0
    for item in data:
        varians += (item - rata_rata_data) ** 2
        varians /= len(data)
    standar_deviasi = varians ** (1/2)
    return standar_deviasi
# Definisikan fungsi untuk menghitung rata-rata dan standar deviasi
# setiap kolom pada tabel_properti yang diberikan oleh key dict.
def deskripsi_properti(tabel):
    for key in tabel.keys():
		    print('Rata-rata ' + key + ':')
		    print(hitung_rata_rata(tabel[key]))
		    print('Standar deviasi ' + key + ':')
		    print(hitung_standar_deviasi(tabel[key]))
		    print('')


# Panggil fungsi deskripsi_properti untuk menghitung rata-rata 
# dan standar deviasi setiap kolom pada tabel_properti
deskripsi_properti(tabel_properti)

Rata-rata luas_tanah:
105.0
Standar deviasi luas_tanah:
14.93311056335886

Rata-rata luas_bangunan:
73.0
Standar deviasi luas_bangunan:
6.025948374480153

Rata-rata jarak:
34.0
Standar deviasi jarak:
6.24005184770928

Rata-rata harga:
1155.0
Standar deviasi harga:
587.0594351517378

#Membulatkan Bilangan

In [ ]:
import math

a = 3.3
b = 4.7

a_ceil = math.ceil(a)
b_ceil = math.ceil(b)

print(a_ceil)
print(b_ceil)

a_floor = math.floor(a)
b_floor = math.floor(b)

print(a_floor)
print(b_floor)

4
5
3
4

# Mencari hasil Log

In [ ]:
import math

#logaritma dari 12 dengan basis 4

y = math.log(12, 4)

print(y)

z = math.log(1000, 10)
print(z)

1.7924812503605783
2.9999999999999996

# Mencari Factorial

In [ ]:
import math

z_faktorial = math.factorial(3)

# faktorial 3 = 3 * 2 * 1

a_faktorial = math.factorial(10)

# faktorial 10 = 10 * 9 * 8 * 7 * 6 * .... * 1

print(a_faktorial)

3628800

# Mencari Akar Kuadrat

In [ ]:
import math

y_akar_kuadrat = math.sqrt(100)

print(y_akar_kuadrat)

10.0

# Summary dari list

In [ ]:
import math

nilai = [1,5,7,1,2,-5,-4,3,0,-2]
total =math.fsum(nilai)
print(total)

8.0